.about-me {
    border-left: none;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.6);
    width: 80%;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 0px 25px 25px 0px; 
}

.about-me .container {
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 60px;
    margin-bottom: 40px;
    margin-right: 150px;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.about-me section {
    margin: 50px 0px;
    padding-right: 100px;
    padding-left: 50px;
    width: 70%;
    color: white;
    border-left: 1px solid white;
}

.about-me section h3 {
    font-size: 1.5rem;
}

.about-me section p {
    position: relative;
    text-align: justify;
    font-size: 1.1rem;
}