footer {
    width: 100%;
    background-color: rgba(38, 38, 38, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
    width: 600px;
}

footer div h4 {
    border-top: 3px solid white;
    width: fit-content;
    padding-top: 15px;
    font-size: 2rem;
    margin: 0;
}

footer div a {
    padding: 20px;
    background-color: rgba(41, 41, 41, 1);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    color: white;
}

footer div a:hover {
    background-color: rgba(60, 60, 60, 1);
}

footer div form {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer div form p{
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0;
    text-align: left;
}

.input-field {
    padding: 0;
    width: 100%;
    display: flex;
}

.input-field input{
    padding: 10px;
    min-height: 30px;
    margin-top: 0;
    border-radius: 7px;
    font-family: "Inter-Medium", "Inter", sans-serif;
    border: 1px solid;
    font-size: 0.9rem;
}

.input-field textarea {
    padding: 10px;
    min-height: 30px;
    margin-top: 0;
    border-radius: 7px;
    font-family: "Inter-Medium", "Inter", sans-serif;
    border: 1px solid;
    font-size: 0.9rem;
}

footer div form button {
    width: fit-content;
    padding: 15px 40px;
    font-family: "Inter-Medium", "Inter", sans-serif;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 500;
}

footer div p {
    text-align: center;
    font-size: 1.1rem;
}

footer span {
    font-weight: 700;
}